<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mapleleaves">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MapleLeavesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapleLeaves">
        <activity
            android:name=".ui.checkWorkAttendance.CheckWorkAttendanceActivity"
            android:exported="true" />
        <activity
            android:name=".ui.course.CourseActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/SplashTheme"></activity>
        <activity android:name=".ui.weather.WeatherActivity"
            android:exported="true"></activity>
    </application>

</manifest>