<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mapleleaves">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MapleLeavesApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapleLeaves">
        <activity
            android:name=".ui.personaldata.PersonalDataActivity"
            android:exported="true" />
        <activity
            android:name=".ui.signindetails.SignInDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.studentsignin.StudentSignInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.startsignin.StartSignInActivity"
            android:exported="true" />
        <activity
            android:name=".ui.signinsheet.SignInSheetActivity"
            android:exported="true" />
        <activity
            android:name=".ui.course.TeacherCourseActivity"
            android:exported="true" />
        <activity
            android:name=".ui.createcourse.CreateCourseActivity"
            android:exported="true" />
        <activity
            android:name=".ui.joincourse.JoinCourseActivity"
            android:exported="true" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.checkworkattendance.CheckWorkAttendanceActivity"
            android:exported="true" />
        <activity
            android:name=".ui.course.StudentCourseActivity"
            android:exported="true" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">

            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".ui.weather.WeatherActivity"
            android:exported="true" />
    </application>

</manifest>